## Order and Online customer behavior data analytics

In [2]:
# All basic imports
import numpy as np
import pandas as pd
import os
import zipfile

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use("ggplot")

import warnings
warnings.filterwarnings('ignore')

In [3]:
# unzip data.zip
zip_ref = zipfile.ZipFile("data.zip", 'r')
zip_ref.extractall()
zip_ref.close()

In [4]:
# list of files in the working directory
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'Capture.PNG',
 'data.zip',
 'online.csv',
 'order.csv',
 'README.md',
 'sflydatascience-homework1.ipynb']

In [5]:
onlineData = pd.read_csv("online.csv")
orderData = pd.read_csv("order.csv")

In [6]:
onlineData['date'] = 0
onlineData['time'] = 0
onlineData['date'] = onlineData.dt.apply(lambda x : x[0:10])
onlineData['time'] = onlineData.dt.apply(lambda x : x[11:])

In [7]:
onlineData.shape

(954774, 9)

In [8]:
orderData.shape

(263278, 6)

In [9]:
orderData.head()

   custno   ordno            orderdate  prodcat2  prodcat1  revenue
0   18944   64694  2016-11-27 20:57:20       NaN         1    53.30
1   18944  114405  2017-04-29 20:18:04       NaN         1     0.10
2   18944   28906  2017-04-23 21:31:03       NaN         1   141.66
3   36096   62681  2016-02-25 07:16:33       NaN         1    36.82
4       1       1  2017-06-12 08:27:59       NaN         1     8.35

In [10]:
# one or more products were purchased per order as # of unique orders are less than total # of rows in order table
len(orderData.ordno.unique())

149717

In [11]:
orderData['date'] = 0
orderData['time'] = 0
orderData['date'] = orderData.orderdate.apply(lambda x : x[0:10])
orderData['time'] = orderData.orderdate.apply(lambda x : x[11:])

In [12]:
orderData[(onlineData.date == "2016-09-16") & (onlineData.custno == 3840)]

,custno,ordno,orderdate,prodcat2,prodcat1,revenue,date,time
0,18944,64694,2016-11-27 20:57:20,NaN,1,53.3,2016-11-27,20:57:20

In [13]:
onlineData[(onlineData.date == "2016-09-16") & (onlineData.custno == 3840)]

,session,visitor,dt,custno,category,event1,event2,date,time
0,419542,140970,2016-09-16 05:03:23,3840,1,NaN,1,2016-09-16,05:03:23

In [17]:
# I want to check if a customer come online but does not checkout
#orderDatatemp = orderData[(orderData.date == '2016-09-16')]
#def wasOnlinebutDidnotorder():
#        for i in onlineData.custno.unique():
#            try:
#                orderData[(onlineData.custno == i)]
#            except:
#                print("customer " + str(i) + " came online and did not checkout")